<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/img/login-background.jpg);">
                <span class="login100-form-title-1">
                    Đổi mật khẩu
                </span>
                <p style="text-align: center; color: #fff; padding-top: 20px;">Lần đầu đăng nhập bạn phải đổi mật khẩu để tiếp tục!</p>
            </div>
            <form [formGroup]="changePassForm" class="login100-form" (ngSubmit)="onSubmit()">
                <mat-form-field class="wrap-input100">
                    <input type="password" formControlName="password" matInput placeholder="Mật khẩu mới">
                </mat-form-field>
                <mat-form-field class="wrap-input100">
                    <input formControlName="confirmPassword" type="password" matInput placeholder="Nhập lại mật khẩu mới">
                </mat-form-field>
                <button type="submit" mat-raised-button class="btn btn-success" [disabled]="!changePassForm.valid">Xác nhận</button>
            </form>
        </div>
    </div>
</div>