<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/img/login-background.jpg);">
                <span class="login100-form-title-1">
                    Quên mật khẩu
                </span>
            </div>
            <div class="login100-form">
                <mat-form-field class="wrap-input100">
                    <input [formControl]="email" matInput placeholder="Nhập email dùng để tạo tài khoản" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <button mat-raised-button class="btn btn-success" [disabled]="email.invalid" (click)="onSubmit()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>