<div class="card">
    <div class="card-header card-header-danger">
        <h3 class="card-title">Quản lý tài khoản</h3>
        <p class="card-category">&nbsp;</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col" class="text-center">Tên đăng nhập</th>
                            <th scope="col" class="text-center">Quyền người dùng</th>
                            <th scope="col" class="text-center"></th>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let account of accounts; let i=index">
                                <tr class="primary-tooltip-info" matTooltip="Chi tiết" matTooltipPosition="above"
                                    matTooltipClass="primary-tooltip" (click)="openInfo(i)">
                                    <th scope="row">{{i + 1 + (pageData.currentPage - 1) * pageData.pageSize}}</th>
                                    <td class="text-center">{{account.username}}</td>
                                    <td class="text-center">{{account.roles.join(',')}}</td>
                                    <td class="text-center">
                                        <button mat-icon-button color="primary">
                                            <i class="material-icons">info</i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <mat-paginator showFirstLastButtons [length]="pageData.totalSize" [pageSize]="pageData.pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>